* {
    /*Espaçamento*/
    padding: 0px;
    margin: 0px;
    /*Detalhes*/
    overflow: hidden;
    /*Fonte*/
    font-family: "Oswald", sans-serif;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
*/
}

.alerta {
    /*Tamanho*/
    width: 450px;
    height: 320px;
    /*Posição*/
    position: absolute;
    display: none;
    /*Espaçamento*/
    margin-top: 14%;
    margin-left: 35%;
    margin-right: 35%;
    /*Cor*/
    border: 2px solid #000;
    border-radius: 10px;
}

.sessao-imagem-alerta {
    /*Tamanho*/
    width: 100%;
    height: 50%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /*Borda*/
    border-bottom: 2px solid #000;
    /*Cor*/
    background-color: #FFF740;
    /*Fonte*/
    font-size: 30px;
}

.icone-alerta {
    /*Tamanho*/
    width: 80px;
}

.sessao-frase-alerta {
    /*Tamanho*/
    width: 100%;
    height: 49%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*Cor*/
    background-color: #FFF;
    color: #000;
}

.frase-alerta {
    /*Cor*/
    color: #000;
    background-color: #FFF740;
    /*Espaçamento*/
    padding-left: 5px;
    padding-right: 5px;
    /*Fonte*/
    font-size: 30px;
}

.botao-fechar-alerta {
    /*Tamanho*/
    width: 40%;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 10px;
    /*Cor*/
    background-color: #FFF740;
    /*Fonte*/
    font-size: 20px;
    /*Detalhes*/
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    color: #8C52FF;
    font-variation-settings:
        'FILL' 1
}

.dashboard-container {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    /*Borda*/
    border: 2px solid #000;
}

.menu-lateral {
    /*Tamanho*/
    width: 5%;
    height: 99%;
    /*Espaçamento*/
    padding-bottom: 5px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Borda*/
    border: 2px solid #8C52FF;
    border-radius: 10px;
}

.sessao {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botoes-principais {
    /*Tamanho*/
    height: 40%;
    /*Espaçamento*/
    padding-top: 20px;
}

.botao-menu {
    /*Borda*/
    border: 0px;
    /*Cor*/
    background-color: transparent;
    /*Fonte*/
    font-size: 35px;
    /*Detalhes*/
    cursor: pointer;
}

.dashboard {
    /*Cor*/
    color: #8C52FF;
    /*Fonte*/
    font-variation-settings:
        'FILL' 1
}

.caixa-conteudo {
    /*Tamanho*/
    width: 95%;
    height: 100%;
    /*Espaçamento*/
    padding: 5px;
    /*Organzação de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sessao-conteudo-dashboard {
    /*Tamanho*/
    width: 100%;
    height: 95%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cabecalho {
    /*Tamanho*/
    width: 99%;
    height: 12%;
    /*Organização de elementos filhos*/
    /*Borda*/
    border-radius: 10px;
    /*Cor*/
    background-color: #7000FF;
    color: #FFF;
    /*Fonte*/
    font-size: 25px;
}

.caixa-auxiliar-titulo-cabecalho {
    /*Tamanho*/
    width: 100%;
    height: 80%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
    /*Cor*/
    color: #FFF;
    background-color: #8C52FF;
    /*Fonte*/
    font-size: 20px;
    /*Texto*/
    text-align: center;
}

.sessao-titulo-cabecalho {
    /*Tamanho*/
    width: 90%;
    height: 100%;
    /*Fonte*/
    font-size: 30px;
}

.sessao-notificacao-cabecalho {
    /*Tamanho*/
    width: 10%;
    height: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-cabecalho {
    /*Fonte*/
    font-size: 30px;

}

.botao-cabecalho:hover{
    /*Cor*/
    color: #FFF;
     /*Fonte*/
     font-variation-settings:
     'FILL' 1
}

.sessao-indicadores {
    /*Tamanho*/
    width: 99%;
    height: 22%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.dado-atual{
    /*tamanho*/
    width: 20%;
    /*detalhes*/
   text-align: center;
    /*Fonte*/
    font-size: 18px;
}


.dado-maxima-registrada{
   /*tamanho*/
   width: 20%;
     /*detalhes*/
     text-align: center;
      /*Fonte*/
      font-size: 18px;
}
.dado-minima-registrada{
    /*tamanho*/
    width: 20%;
      /*detalhes*/
   text-align: center;
       /*Fonte*/
       font-size: 18px;
 }
 .dado-media{
    /*tamanho*/
    width: 20%;
      /*detalhes*/
   text-align: center;
     /*Fonte*/
     font-size: 18px;
 }
.caixa-indicadores{
    /*tamanho*/
    width: 100%;
    height: 75%;
    /*borda*/
    /*border: 2px solid black;
    /*organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
    overflow: visible;
  
}

.indicador {
    /*Tamanho*/
    width: 40%;
    height: 97%;
    /*Borda*/
    border-radius: 10px;
    border-radius: 10px;
    /*Cor*/
    color: #000;
    border-radius: 10px; 
    /*Cor*/
    color: #000;
    /*Texto*/
    text-align: center;
    /*fonte*/
    font-size: 13px;
}
.titulo{
    /*cor*/
    color: #000;
}
.temp{
   
    /*borda*/
    border:2px solid #ff8e83;
    /*cor*/
    color: #ff8e83;
}

.umidade{
    /*borda*/
    border: 2px solid #58c3ff;
     /*cor*/
     color: #58c3ff;
}

.conteudo-indicador {
    /*Tamanho*/
    width: 100%;
    height: 80%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Fonte*/
    font-size: 50px;
}

.sessao-graficos {
    /*Tamanho*/
    width: 99%;
    height: 70%;
    /*Espaçamento*/
    padding-bottom: 5px;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
}
.grafico-1 {
    /*Tamanho*/
    width: 24%;
}

.titulo-grafico1 {
    /*Texto*/
    text-align: center;
}
.sessao-grafico-media {
    /*Tamanho*/
    width: 100%;
    height: 80%;
    /*borda*/
    border: 2px solid black;
}


.grafico-1{
    /*tamanho*/
    width: 30%;
     /*Borda*/
     border: 2px solid #4CAF50;
     border-radius: 10px;
}
.graficos-temperatura-umidade {
    /*Tamanho*/
    width: 65%;
    height: 100%;
    /*Organização de elementos filhos*/
   /* display: flex;
  /*  flex-direction: row;*/
   justify-content: space-evenly;
    /*Borda*/
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

.cabecalho-grafico-temperatura-umidade {
    /*Tamanho*/
    width: 95%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.coordenadas{
    /*tamanho*/
    width: 30%;
}
.titulo-temperatura-umidade {
    /*Tamanho*/
    width: 60%;
    /*Texto*/
    text-align: center;
}

.select_hectar {
    /*tamanho*/
    width: 40%;
    height: 20%;
    /*Borda*/
    border-bottom: 2px solid #000;
    /*Cor*/
    background-color: transparent;
    /*Detalhes*/
    cursor: pointer;

}
.botao-hectar {
    /*tamanho*/
    width: 20%;
    height: 20%;
    /*Espacamento*/
    padding: 2px;
    /*Borda*/
    border: 2px solid green;
    border-radius: 5px;
    /*Cor*/
    background-color: #4CAF50;
    color: #FFF;
    /*Detalhes*/
    cursor: pointer;
}

.organizando-graficos{
    /*tamanho*/

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}
.titulo-grafico-temperatura{
    text-align: center;
}
.conteudo-grafico-temperatura{
    /*tamanho*/
    width: 40%;
    /*borda*/
    border: 2px solid #FF8E8E;
}
.NomeDaUva {
    /*Borda*/
    border: none; 
    border-bottom: 2px solid #000000;

    /*Espacamento*/
    padding: 5px; 
}

.sessao-grafico-umidade,
.sessao-grafico-umidade2 {
    /*Tamanho*/
    width: 40%;
    height: 50%;
    /*borda*/
    border: 2px solid #58C3FF;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
   
}

.sessao-grafico-umidade2 {
    /*Disposição na tela*/
   display: none;
}
.Informações_Hectare {
    /*Organização de elementos filhos*/
    display: none;     /*Mudar para flex quando clickar na Engrenagem*/
    flex-direction: column;
    align-items: center;

    /*Posição*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*Borda*/
    border: 2px solid #000; 
    border-radius: 20px;

    /*Espacamento*/
    padding: 20px; 

    /*Tamanho*/
    height: 300px;
    width: 600px;

    /*Cor*/
    background-color: #FFF;
}

.inputs_informações_Hectare {
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between; 
    align-items: center; 

    /*Tamanho*/
    height: 100%; 
    width: 500px;
}

.Titulo_informações_Hectare{
    /*Cor*/
    color: #8C52FF;
    font-size: 30px;

    /*Tamanho*/
    height: 100px;
}

.NomeDaUva {
    /*Borda*/
    border: none; 
    border-bottom: 2px solid #000000;

    /*Espacamento*/
    padding: 5px; 

    /*Tamanho*/
    height: 20px;
    width: 200PX;
    font-size: 18px;
}


.Input_tipoDeUva{
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column; 
}

.P_TipoDeUva{
    /*Alinhando*/
    text-align: center;

    /*Tamanho*/
    height: 30px;
    font-size: 18px;
}

.tipoDeUva {

/*Cor*/
 background-color: #D9D9D9;

/*Borda*/
 border: none;
 border-radius: 10px;
 text-align: center;
 font-weight: bold;

/*Tamanho*/
 height: 35px;
 width: 175px;
}

.Botão_Editar{
    /*Borda*/
    border-radius: 5px;

    /*Cor*/
    color: #FFF;
    background-color: #8C52FF;

    /*Tamanho*/
    height: 60px;
    width: 175px;
    font-size: 20px;
}