* {
    /*Espaçamento*/
    padding: 0px;
    margin: 0px;
    /*Detalhes*/
    overflow-x: hidden;
}

body{
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu{
    /*Tamanho*/
    width: 100%;
    /*Posição*/
    position: fixed;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
    /*Borda*/
    border: 0px;
    border-bottom: 2px solid #000;
    /*Cor*/
    background-color: #fff;
}

.sessao-logo-menu {
    /*Tamanho*/
    width: 15%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Fonte*/
    font-size: 25px;
}

.logo-menu{
    /*Tamanho*/
    width: 50px;
}

.sessao-botoes-menu{
    /*Tamanho*/
    width: 60%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
}

.sessao-botao-entrar{
    /*Tamanho*/
    width: 15%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: end;
}

.botao-menu {
    /*Tamanho*/
    width: 20%;
    /*Borda*/
    border: 0px;
    /*Cor*/
    background-color: transparent;
    /*Fonte*/
    font-size: 18px;
    /*Detalhes*/
    cursor: pointer;
}

.entrar {
    /*Tamanho*/
    width: 70%;
    height: 100%;
}

.div-sessao-inicial{
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*Fundo*/
    background-image: url(./assets/imagens/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.caixa-mensagem-saudacao{
    /*Tamanho*/
    width: 35%;
    height: 45%;
    /*Espaçamento*/
    margin-left: 40px;
    padding: 20px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*Borda*/
    border: 2px solid #000;
    /*Cor*/
    background-color: #fff;
    color: #000;
    opacity: 0.8;
}

.saudacao-titulo{
    /*Fonte*/
    font-size: 50px;
}

.saudacao-subtitulo{
    /*Fonte*/
    font-size: 21px;
}

.saudacao-texto{
    /*Fonte*/
    font-size: 21px;
}

.saiba-mais{
    /*Tamanho*/
    width: 45%;
    height: 40px;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 10px;
    /*Cor*/
    background-color: #8C52FF;
    color: #fff;
    /*Detalhes*/
    cursor: pointer;
}

.div-sessao-solucao{
    /*Tamanho*/
    width: 100%;
    height: 100vh;
}

.cabecalho-solucao{
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding-top: 10px;
    padding-bottom: 20px;
    /*Fonte*/
    font-size: 30px;
    /*Texto*/
    text-align: center;
}

.caixa-conteudo-solucao{
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
}

.textos-solucao{
    /*Tamanho*/
    width: 60%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    /*Fonte*/
    font-size: 30px;
    /*Texto*/
    text-align: center;
}

.palavras-roxa{
    /*Cor*/
    color: #8C52FF;
}

.foto-solucao{
    /*Tamanho*/
    width: 40%;
    height: 500px;
    /*Espaçamento*/
    padding: 20px;
    /*Organização de elementos filhos*/
    display: flex;
    /*Detalhes*/
    overflow: hidden;
}

.caixa-auxiliar-foto-solucao{
    /*Tamanho*/
    width: 80%;
    height: 400px;
    /*Borda*/
    border: 2px solid #000;
    /*Detalhes*/
    overflow: visible;
}

.imagem-solucao{
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    margin-top: 10px;
    margin-left: 10px;
    /*Detalhes*/
    overflow: visible;
}

.div-sessao-objetivos{
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*Borda*/
    border: 0px;
    border-top: 2px solid #000;
}

.cabecalho-objetivo{
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding: 5px;
    /*Fonte*/
    font-size: 30px;
    /*Texto*/
    text-align: center;    
}

.sessao-fotos-objetivos{
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding: 10px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagem-objetivos{
    /*Tamanho*/
    width: 80%;
}

.imagem-flechas-objetivos{
    /*Tamanho*/
    width: 40%;
}

.div-sessao-nome{
    /*Tamanho*/
    width: 100%;
    height: 100vh;
}

.cabecalho-nome{
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
}

.titulo-nome{
    /*Tamanho*/
    width: 40%;
    /*Espaçamento*/
    padding-left: 30px;
    /*Fonte*/
    font-size: 80px;
}

.imagem-barra{
    /*Tamanho*/
    width: 60%;
    height: 100%;
}

.caixa-conteudo-nome{
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
}

.sessao-textos-nome{
    /*Tamanho*/
    width: 60%;
    /*Espaçamento*/
    padding-left: 30px;
    padding-bottom: 30px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Fonte*/
    font-size: 30px;
}

.sessao-logo-nome{
    /*Tamanho*/
    width: 40%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase-nome{
    /*Fonte*/
    font-size: 50px;
}

.div-sessao-equipe{
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Borda*/
    border: 2px solid #000;
}

.cabecalho-equipe{
    /*Tamanho*/
    width: 100%;
    height: 30%;
    /*espaçamento*/
    padding-top: 20px;
    /*Cor*/
    background-color: #8C52FF;
    color: #fff;
    /*Texto*/
    text-align: center;
}

.titulo-equipe{
    /*Espaçamento*/
    margin-bottom: 20px;
}

.sessao-fotos-equipe{
    /*Tamanho*/
    width: 80%;
    height: 80%;
    position: absolute;
    /*Cor*/
    background-color: #fff;
    /*Borda*/
    border: 2px solid green;
    border-radius: 20px;
}

.caixa-auxiliar-equipe{
    /*Tamanho*/
    width: 100%;
    height: 70%;
    /*Cor*/
    background-color: #000;
}

