* {
    /*Espaçamento*/
    padding: 0px;
    margin: 0px;
    /*Detalhes*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*Detalhes*/
    overflow: visible;
    overflow-x: hidden;
}

.menu {
    /*Tamanho*/
    width: 100%;
    /*Posição*/
    position: fixed;
    z-index: 100;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
    /*Borda*/
    border: 0px;
    border-bottom: 2px solid #000;
    /*Cor*/
    background-color: #fff;
}

.sessao-logo-menu {
    /*Tamanho*/
    width: 15%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Fonte*/
    font-size: 25px;
}

.logo-menu {
    /*Tamanho*/
    width: 50px;
}

.sessao-botoes-menu {
    /*Tamanho*/
    width: 60%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
}

.sessao-botao-entrar {
    /*Tamanho*/
    width: 15%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: end;
}

.botao-menu {
    /*Tamanho*/
    width: 20%;
    /*Borda*/
    border: 0px;
    /*Cor*/
    background-color: transparent;
    /*Fonte*/
    font-size: 18px;
    /*Detalhes*/
    cursor: pointer;
}

.botao-menu:hover{
    /*Cor*/
    color: #8C52FF;
}

.pagina-inicial{
    /*Borda*/
    border-bottom: 3px solid #8C52FF;
    /*Cor*/
    color: #8C52FF;
}

.entrar {
    /*Tamanho*/
    width: 70%;
    height: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone-entrar{
    /*Tamanho*/
    width: 30px;
}

.div-sessao-inicial {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*Fundo*/
    background-image: url(./assets/imagens/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.caixa-mensagem-saudacao {
    /*Tamanho*/
    width: 35%;
    /*Espaçamento*/
    margin-left: 40px;
    padding: 20px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*Borda*/
    border: 2px solid #000;
    /*Cor*/
    background-color: #fff;
    color: #000;
    opacity: 0.8;
}

.saudacao-titulo {
    /*Fonte*/
    font-size: 50px;
}

.saudacao-subtitulo {
    /*Fonte*/
    font-size: 21px;
}

.saudacao-texto {
    /*Fonte*/
    font-size: 21px;
}

.saiba-mais {
    /*Tamanho*/
    width: 45%;
    height: 40px;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 10px;
    /*Cor*/
    background-color: #8C52FF;
    color: #fff;
    /*Detalhes*/
    cursor: pointer;
}

.div-sessao-solucao {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
}

.cabecalho-solucao {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding-top: 10px;
    padding-bottom: 20px;
    /*Fonte*/
    font-size: 30px;
    /*Texto*/
    text-align: center;
}

.caixa-conteudo-solucao {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
}

.textos-solucao {
    /*Tamanho*/
    width: 60%;
    /*Espaçamento*/
    padding-left: 15px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    /*Fonte*/
    font-size: 22px;
    /*Texto*/
    text-align: left;
}

.palavras-roxa {
    /*Cor*/
    color: #8C52FF;
}

.subtitulo{
    /*Texto*/
    text-align: center;
}

.foto-solucao {
    /*Tamanho*/
    width: 35%;
    height: 100%;
    /*Espaçamento*/
    padding: 20px;
    /*Organização de elementos filhos*/
    display: flex;
    /*Detalhes*/
    overflow: visible;
}

.caixa-auxiliar-foto-solucao {
    /*Tamanho*/
    width: 70%;
    height: 400px;
    /*Borda*/
    border: 2px solid #000;
    /*Detalhes*/
    overflow: visible;
}

.imagem-solucao {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    margin-top: 10px;
    margin-left: 10px;
    /*Detalhes*/
    overflow: visible;
}

.div-sessao-objetivos {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*Borda*/
    border: 0px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.cabecalho-objetivo {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding: 5px;
    /*Fonte*/
    font-size: 30px;
    /*Texto*/
    text-align: center;
}

.sessao-fotos-objetivos {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding: 10px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagem-objetivos {
    /*Tamanho*/
    width: 70%;
}

.imagem-flechas-objetivos {
    /*Tamanho*/
    width: 30%;
}

.div-sessao-negocio{
    /*Tamanho*/
    width: 100%;
    padding: 2px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-negocio{
    /*Fonte*/
    font-size: 30px;
}

.diagrama-negocio{
    /*Tamanho*/
    width: 80%;
}

.div-sessao-nome {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cabecalho-nome {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
}

.titulo-nome {
    /*Tamanho*/
    width: 40%;
    /*Espaçamento*/
    padding-left: 30px;
    /*Fonte*/
    font-size: 50px;
}

.imagem-barra {
    /*Tamanho*/
    width: 60%;
    height: 100%;
}

.caixa-conteudo-nome {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
}

.sessao-textos-nome {
    /*Tamanho*/
    width: 60%;
    /*Espaçamento*/
    padding-left: 30px;
    padding-bottom: 30px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Fonte*/
    font-size: 25px;
}

.sessao-logo-nome {
    /*Tamanho*/
    width: 40%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase-nome {
    /*Fonte*/
    font-size: 40px;
}

.div-sessao-equipe {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Borda*/
    border: 2px solid #000;
}

.cabecalho-equipe {
    /*Tamanho*/
    width: 100%;
    height: 10%;
    /*espaçamento*/
    padding-top: 20px;
    /*Cor*/
    background-color: #8C52FF;
    color: #fff;
    /*Texto*/
    text-align: center;
}

.sessao-fotos-equipe {
    /*Tamanho*/
    width: 90%;
    height: 85%;
    /*Posição*/
    position: absolute;
    /*Espaçamento*/
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*Cor*/
    background-color: #fff;
    /*Borda*/
    border-radius: 20px;
}

.caixa-auxiliar-equipe {
    /*Tamanho*/
    width: 100%;
    height: 90%;
    /*Cor*/
    background-color: #000;
}

.fotos-equipe-cima,
.fotos-equipe-baixo {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
}

.caixa-membro {
    /*Tamanho*/
    width: 250px;
    height: 260px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Borda*/
    border: 2px solid #000;
}

.foto-membro {
    /*Tamanho*/
    width: 100%;
    height: 70%;
    /*Cor*/
    background-color: #8C52FF;
}

.sessao-redes-sociais {
    /*Tamanho*/
    width: 50%;
    height: 30px;
    /*Borda*/
    border: 2px solid #000;
}

.div-sessao-valores {
    /*Tamanho*/
    width: 100%;
    height: 80vh;
}

.cabecalho-valores {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row-reverse;
}

.xxx {
    /*Tamanho*/
    width: 8%;
}

.sessao-conteudo-valores {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding-top: 20px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titulo-valores {
    /*Fonte*/
    font-size: 30px;
}

.imagem-valores {
    width: 70%;
}

.rodape{
    /*Tamanho*/
    width: 100%;
    height: 10vh;
    /*Detalhes*/
    overflow: visible;
}

.conteudo-rodape {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Cor*/
    background-color: #8C52FF;
    color: #000;
}

.nome-rodape{
    /*Fonte*/
    font-size: 40px;
}

.sessao-botoes-rodape {
    /*Tamanho*/
    width: 60%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
}

.botao-rodape {
    /*Tamanho*/
    width: 20%;
    /*Borda*/
    border: 0px;
    /*Cor*/
    background-color: transparent;
    color: #000;
    /*Fonte*/
    font-size: 18px;
    /*Detalhes*/
    cursor: pointer;
}

.logo-rodape {
    /*Tamanho*/
    width: 70px;
    /*Espaçamento*/
    padding: 0px;
    /*Borda*/
    border-radius: 180px;
    /*Cor*/
    background-color: #fff; 
}

.sessao-copyright{
    /*Tamanho*/
    width: 100%;
    /*Cor*/
    background-color: #000;
    color: #fff;
    /*Texto*/
    text-align: center;
}