* {
    /*Espaçamento*/
    padding: 0px;
    margin: 0px;
    /*Detalhes*/
    overflow: hidden;
    /*Fonte*/
    font-family: "Oswald", sans-serif;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
*/
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    color: #8C52FF;
    font-variation-settings:
        'FILL' 1
}

.hectare-container {
    /*Tamanho*/
    width: 100%;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    /*Borda*/
    border: 2px solid #000;
}

.menu-lateral {
    /*Tamanho*/
    width: 5%;
    height: 99%;
    /*Espaçamento*/
    padding-bottom: 5px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Borda*/
    border: 2px solid #8C52FF;
    border-radius: 10px;
}

.sessao {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botoes-principais {
    /*Tamanho*/
    height: 40%;
    /*Espaçamento*/
    padding-top: 20px;
    /*Fonte*/
    font-size: 35px;
}

.botao-menu {
    /*Borda*/
    border: 0px;
    /*Cor*/
    background-color: transparent;
    /*Fonte*/
    font-size: 35px;
    /*Detalhes*/
    cursor: pointer;
}

.dashboard{
    /*Cor*/
    color: #7000FF;
}

.home {
    /*Cor*/
    color: #8C52FF;
    /*Fonte*/
    font-variation-settings:
        'FILL' 1
}

.caixa-conteudo {
    /*Tamanho*/
    width: 95%;
    height: 100%;
    /*Espaçamento*/
    padding: 5px;
    /*Organzação de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cabecalho {
    /*Tamanho*/
    width: 99%;
    height: 12%;
    /*Organização de elementos filhos*/
    /*Borda*/
    border-radius: 10px;
    /*Cor*/
    background-color: #7000FF;
    color: #FFF;
    /*Fonte*/
    font-size: 25px;
}

.caixa-auxiliar-titulo-cabecalho {
    /*Tamanho*/
    width: 100%;
    height: 80%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-between;
    /*Cor*/
    color: #FFF;
    background-color: #8C52FF;
    /*Fonte*/
    font-size: 20px;
    /*Texto*/
    text-align: center;
}

.sessao-titulo-cabecalho {
    /*Tamanho*/
    width: 80%;
    height: 100%;
    /*Fonte*/
    font-size: 30px;
    /*Texto*/
    text-align: center;
}

.sessao-voltar,
.sessao-notificacao-cabecalho {
    /*Tamanho*/
    width: 10%;
    height: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Detalhes*/
    cursor: pointer;
}

.botao-cabecalho {
    /*Fonte*/
    font-size: 30px;
}

.botao-cabecalho:hover {
    /*Cor*/
    color: #FFF;
    /*Fonte*/
    font-variation-settings:
        'FILL' 1
}

.caixa-notificacoes{
    /*Tamanho*/
    width: 20%;
    height: 60%;
    /*Posição*/
    position: absolute;
    /*Espaçamento*/
    margin-left: 73%;
    margin-top: 4%;
    padding-left: 5px;
    /*Aparição em tela*/
    display: none;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 20px;
    /*Cor*/
    background-color: #FFF;
}

.notificacoes{
    /*Tamanho*/
    width: 95%;
    height: 50px;
    /*Espaçamento*/
    margin-top: 5px;
    /*Organização de elementos filhos*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*Borda*/
    border: 1px solid #000;
    border-radius: 10px;
    /*Fonte*/
    font-size: 13px;
}

.nivel-notificacao-ruim,
.nivel-notificacao-medio{
    /*Espaçamento*/
    padding: 2px;
    /*Borda*/
    border-radius: 10px;
    /*Cor*/
    color: #FFF;
    /*Tamanho*/
    font-size: 30px;
}

.nivel-notificacao-ruim{
    /*Cor*/
    background-color: #FF3D30;
}

.nivel-notificacao-medio{
    /*Cor*/
    background-color: #FFCD1C;
}

.sessao-conteudo-hectare {
    /*Tamanho*/
    width: 99%;
    height: 90%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-kpi,
.sessao-legenda {
    /*Tamanho*/
    width: 25%;
    height: 100%;
}

.sessao-kpi {
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /*Texto*/
    text-align: center;
}

.porcentagem-kpi {
    /*Tamanho*/
    width: 60%;
    height: 100px;
    /*Espaçamento*/
    margin-bottom: 20%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Borda*/
    border-radius: 20px;
    /*Fonte*/
    font-size: 30px;
}

.vermelho {
    /*Borda*/
    border: 2px solid #FF3D30;
    /*Cor*/
    color: #FF3D30;
}

.amarelo {
    /*Borda*/
    border: 2px solid #FFCD1C;
    /*Cor*/
    color: #FFCD1C;
}

.verde {
    /*Borda*/
    border: 2px solid #5CDD20;
    /*Cor*/
    color: #5CDD20;
}

.sessao-lista-hectares {
    /*Tamanho*/
    width: 58%;
    height: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
}

.lista-hectares {
    /*Tamanho*/
    width: 90%;
    height: 95%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 20px;
}

.linha-lista-hectare {
    /*Tamanho*/
    width: 98%;
    height: 30%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linha-lista-hectare-tres {
    /*Tamanho*/
    width: 98%;
    height: 30%;
    /*Espaçamento*/
    padding-left: 3%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.caixa-hectare {
    /*Tamanho*/
    width: 20%;
    height: 100%;
    /*Texto*/
    text-align: center;
    /*Fonte*/
    font-size: 20px;
    /*Detalhes*/
    overflow: visible;
    cursor: pointer;
}

.situacao-hectare {
    /*Tamanho*/
    width: 99%;
    height: 80%;
    /*Borda*/
    border: 1px solid #000;
    border-radius: 10px;
    /*Cor*/
    color: #FFF;
    /*Fonte*/
    font-size: 20px;
}

.ruim {
    /*Cor*/
    background-color: #FF3D30;
}

.media {
    /*Cor*/
    background-color: #FFCD1C;
}

.boa {
    /*Cor*/
    background-color: #5CDD20;
}

.manutencao{
    background-color: #7a7a7a;
}

.icone-situacao {
    /*Fonte*/
    font-size: 50px;
}

.icone-situacao:hover {
    /*Cor*/
    color: #FFF;
}

.sessao-legenda{
    /*Organização de elementos filhos*/
    display: flex;
    align-items: center;
    /*Fonte*/
    font-size: 25px;
}


.caixa-legenda {
    width: 100%;
    height: 80%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*Borda*/
    border: 2px solid #76CF04;
    border-radius: 20px;
}

.legenda {
    /*Tamanho*/
    width: 100%;
    /*Espaçamento*/
    margin-left: 10px;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*Fonte*/
    font-size: 15px;
}

.icone-legenda-ruim,
.icone-legenda-medio,
.icone-legenda-bom,
.icone-legenda-manutencao {
    /*Espaçamento*/
    padding: 2px;
    /*Borda*/
    border-radius: 10px;
    /*Cor*/
    color: #FFF;
    /*Fonte*/
    font-size: 50px;
    /*Detalhes*/
    overflow: visible;
}


.icone-legenda-ruim {
    /*Cor*/
    background-color: #FF3D30;
}

.icone-legenda-medio {
    /*Cor*/
    background-color: #FFCD1C;
}

.icone-legenda-bom {
    /*Cor*/
    background-color: #5CDD20;
}

.icone-legenda-manutencao{
     /*Cor*/
    background-color: #7a7a7a;
}

.icone-legenda-ruim:hover,
.icone-legenda-medio:hover,
.icone-legenda-bom:hover,
.icone-legenda-manutencao:hover{
    /*Cor*/
    color: #FFF;
}